
body {
  background-color: LightGray;
}

h3{
  text-align: center;
  font-family: Chalkduster, fantasy;
}

#pixelGrid{
  display: table;
  border-spacing: 1px;
  border-radius: 8px;
  background-color: grey;
  border: 15px solid grey;
  margin:auto;
  box-shadow: 2px 2px 10px 2px;
}

.row {
  display: table-row;
  border-color: grey;
}


.pixel{
  display: table-cell;
  background-color: white;
  width: 12px;
  height: 12px;
}

.paintPalette{
  display: table;
  border-spacing: 1px;
  border-radius: 8px;
  background-color: grey;
  border: 10px solid grey;
  margin:10px auto;
  box-shadow: 2px 2px 10px 2px;
  text-align: center;
  font-family: Chalkduster, fantasy;
}

.pen{
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin: 2px;
  cursor:pointer;
}




#clearButton{
  font-family: Chalkduster, fantasy;
  margin-bottom: 10px;
}
